<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MAsh uP | Sidebar</title>

    {% load staticfiles %}
    <!-- Bootstrap Core CSS -->
    <link href="{% static "main_app/css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static "main_app/css/modern-business.css" %}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{% static "main_app/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://127.0.0.1:8000/">MAsh uP</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="http://127.0.0.1:8000/trade_room">Trade Room</a>
                    </li>
                    <li><a href="#">|</a></li>
                    <li>
                        <a href="http://127.0.0.1:8000/profile">Profile</a>
                    </li>
                    <li><a href="#">|</a></li>
                    <li>
                        <a href="http://127.0.0.1:8000/login">Login / Register</a>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">MAsh uP
                    <small>Creator</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <!-- Sidebar Column -->
            <div class="col-md-3">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Heads</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="list-group">
                                    <a href="#" class="list-group-item">Head 2</a>
                                    <a href="#" class="list-group-item">Head 1</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Bodies</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <a href="#" class="list-group-item">Body 1</a>
                                <a href="#" class="list-group-item">Body 2</a>
                                <a href="#" class="list-group-item">Body 3</a>
                                <a href="#" class="list-group-item">Body 4</a>
                                <a href="#" class="list-group-item">Body 5</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Arms</a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <a href="#" class="list-group-item">Arms 1</a>
                                <a href="#" class="list-group-item">Arms 2</a>
                                <a href="#" class="list-group-item">Arms 3</a>
                                <a href="#" class="list-group-item">Arms 4</a>
                                <a href="#" class="list-group-item">Arms 5</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Legs</a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                                <a href="#" class="list-group-item">Legs 1</a>
                                <a href="#" class="list-group-item">Legs 2</a>
                                <a href="#" class="list-group-item">Legs 3</a>
                                <a href="#" class="list-group-item">Legs 4</a>
                                <a href="#" class="list-group-item">Legs 5</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.panel-group -->
            </div>
            <!-- Content Column -->
            <div class="col-md-9">
                <div class="creator" style="width:750px; height:375px; background:url('{% static "main_app/img/creator_background.png" %}') no-repeat center; background-size: 100%;">
                    <div class="head"></div>
                    <div class="body"></div>
                    <div class="legs"></div>
                    <div class="arms"></div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; MAsh uP 2016</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="{% static "main_app/js/jquery.js" %}">

    </script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "main_app/js/bootstrap.min.js" %}"></script>

</body>

</html>
